/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

@charset "utf-8";

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: url(bg-01.jpg);
  background-size: cover;
}

/*form index.html and signin.html*/

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  border-radius: 40px;
  backdrop-filter: blur(10px);
}

.btn {
  border-radius: 20px;
  background-color: #9395d3 !important;
}

.form-text a,
.asignup {
  color: #9395d3;
}

a {
  text-decoration: none !important;
}

/*Nav bar */

nav {
  background-color: #000807 !important;
}

nav a,
nav p {
  color: #ffffff !important;
}

.btnnav {
  border-radius: 20px;
  background-color: #9395d3;
  border: none;
  width: 110px;
  text-align: center;
  color: #ffffff;
}

.containertxtbug {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containertxtbug p {
  margin-top: 10px;
  padding: 5px;
}

/*home.html and traitement.html*/

.bodyform {
  background-color: #a5a5a5;
}

.titlebug {
  font-weight: bold;
}
.breack {
  word-break: break-all;
}

th {
  color: #6622cc;
}

td {
  color: #ffffff;
}

#selectstate {
  border-radius: 20px;
}

td button {
  background-color: none !important;
}

/*Formulaire*/

label {
  color: #ffffff;
}

.btnsubmit {
  border-radius: 20px;
  background-color: #9395d3;
  color: #ffffff;
  width: 150px;
}

@media screen and (max-width: 1024px) {
  .containertxtbug {
    display: none;
  }
}
